# REAP: Rice Efficacy Across Philippines: A Data-Driven Cross-Dataset Analysis with India

### Project Objectives
This project entails a comparative analysis between the agricultural practices of India and the Philippines, with a specific focus on rice cultivation. Python will be employed for data analytics, aiming to provide meaningful insights into the similarities and differences between these two methods. The project seeks to identify key factors contributing to the effectiveness of these practices, while highlighting areas for potential improvement.

### Walkthrough

#### Datasets Acquisition
In this section, we will provide an overview of the datasets included in our study.

    1. Rice and Production Datasets
    2. Climate and Weather Datasets
    3. Soil Characteristics Datasets
    4. Agricultural Practices Datasets
    5. Socioeconomic and Demographic Datasets
    6. Policy and Trade Datasets

In [5]:
import numpy as np
import pandas as pd
import os

In [10]:
check_indProd = pd.read_csv('Datasets/ind_AgriculturalPracticesDatasets_verified.csv')
check_indProd.head(5)

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75

In [53]:
# Drop the rows that does not contain the word "Rice"

check_indProd = check_indProd.dropna(subset=['Crop'])
check_indProd = check_indProd[check_indProd['Crop'].str.contains('Rice')]

print(check_indProd.head(5))

                          State District   Crop  Crop_Year       Season  \
468  Andaman and Nicobar Island  NICOBARS  Rice       2007  Kharif
469  Andaman and Nicobar Island  NICOBARS  Rice       2008  Autumn
470  Andaman and Nicobar Island  NICOBARS  Rice       2009  Autumn
471  Andaman and Nicobar Island  NICOBARS  Rice       2000  Kharif
472  Andaman and Nicobar Island  NICOBARS  Rice       2001  Kharif

       Area   Production  Yield
468  7333.75     21864.0   2.98
469  7900.00     14730.0   1.86
470  8140.00     16600.0   2.04
471   102.00       321.0   3.15
472    83.00       300.0   3.61